pkgbase = cordial-bin
	pkgdesc = Roblox's official Android build, run natively on Linux -- Cordial ships no Roblox code and fetches a signature-verified one (prebuilt)
	pkgver = 0.26.0
	pkgrel = 1
	url = https://github.com/luohoa97/cordial
	install = cordial-bin.install
	arch = x86_64
	license = GPL-3.0-or-later
	depends = gtk4
	depends = libadwaita
	depends = webkitgtk-6.0
	depends = zlib
	depends = glib2
	depends = pango
	depends = graphene
	depends = libsoup3
	depends = libgcc
	depends = libstdc++
	depends = glibc
	depends = vulkan-icd-loader
	depends = wayland
	depends = libxkbcommon
	depends = libglvnd
	depends = pipewire
	depends = hicolor-icon-theme
	depends = deno
	conflicts = cordial
	conflicts = cordial-git
	options = !strip
	options = !debug
	source = cordial.pkg.tar.zst::https://github.com/luohoa97/cordial/releases/download/v0.26.0/cordial-0.26.0.r0.gccbc2e0-1-x86_64.pkg.tar.zst
	sha256sums = 8351b6b95ae64c7b816780d2b2343990715c2da8496d6b7a69d833abd21ccd73

pkgname = cordial-bin
